<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    아이디 : <input type="text" name="loginId"/><br/>
    암호 : <input type="password" name="password"/><br/>
    <input type="submit" id="superman"/>
</body>
<script>
   $("#superman").on("click",function(e){
      e.preventDefault();
      alert('sdfasdf');
   });
</script>
</html>